@model X.PagedList.IPagedList<ControleFrotasDLL.BLL.VeiculoCliente>
@{
    ViewData["Title"] = "VeiculosCliente";
    var pesquisa = Context.Request.Query["pesquisa"];
}
@using X.PagedList;
@using X.PagedList.Mvc.Core;

<br />
<br />
<h2>Veículos do Cliente</h2>


<form method="get">
    <div class="form-group">
        <label for="pesquisa">Pesquisar:</label>
        <input type="text" name="pesquisa" id="pesquisa" value="@pesquisa" class="form-control" placeholder="Digite a categoria do veículo">
    </div>

    <button type="submit" class="btn btn-primary">OK</button>
</form>

<br />
<br />

<a asp-action="Cadastrar" class="btn btn-primary">Cadastrar</a>
<a asp-action="Index" asp-controller="RegistroUso" class="btn btn-primary">Devolver</a>

@if (TempData["MSG_S"] != null)
{
    <p class="alert alert-success">@TempData["MSG_S"]</p>
}

@if (Model.Count > 0)
{

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().VeiculoClienteId)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Veiculo.Placa)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Veiculo.Renavam)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Veiculo.Link_Foto)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Veiculo.ModeloId)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Veiculo.Situacao)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Veiculo.CategoriaVeiculoId)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().ClienteId)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Descricao)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ControleFrotasDLL.BLL.VeiculoCliente veiculo in Model)
                {

                <tr>
                    <th scope="row">@veiculo.Veiculo.Id</th>

                    <th scope="row">@veiculo.Veiculo.Placa</th>
                    <th scope="row">@veiculo.Veiculo.Renavam</th>
                    <th> <img src="@veiculo.Veiculo.Link_Foto" width="250" height="150" /> </th>
                    <td>@Html.DisplayFor(model => veiculo.Veiculo.Modelo.Nome)</td>
                    @{
                        if (veiculo.Veiculo.Situacao == "A")
                        {
                            <td>Disponível</td>
                        }
                        else if (veiculo.Veiculo.Situacao == "P")
                        {
                            <td>Ocupado</td>
                        }
                        else
                        {
                            <td>Desativado</td>
                        }
                    }
                    <td>@Html.DisplayFor(model => veiculo.Veiculo.CategoriaVeiculo.Nome)</td>
                    <td>@Html.DisplayFor(model => veiculo.Cliente.Nome)</td>
                    <th scope="row">@veiculo.Descricao</th>

                    <td>
                        @if (veiculo.Veiculo.Situacao == "A")
                        {
                        <a asp-action="Requisitar" asp-route-id="@veiculo.VeiculoClienteId" class="btn btn-secondary">Requisitar</a>
                        }
                        <a asp-action="Atualizar" asp-route-id="@veiculo.VeiculoClienteId" class="btn btn-secondary">Atualizar</a>
                        <a asp-action="Excluir" asp-route-id="@veiculo.VeiculoClienteId" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>


    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina = pagina, pesquisa = pesquisa }))
}
else
{
    <span>Nenhum Registro Cadastrado!</span>
}
